node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.example
.DS_Store
build
.vscode
.idea
*.log
.cache
coverage
.nyc_output
.github
.gitlab-ci.yml
.travis.yml
cloudbuild.yaml
Dockerfile
.dockerignore