@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  /* Always show scrollbar to prevent layout shift */
  overflow-y: scroll;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Styles for HTML content in 3D scene */
.content {
  width: 1024px;
  height: 640px;
  pointer-events: auto;
}

.wrapper {
  pointer-events: auto;
  cursor: default;
}

.wrapper:hover {
  cursor: default;
}
